body {
	margin: 0;
}

section {
	height: 99vh;
	margin: 8px 2px 8px 2px;

}

div.flex-less, div.flex-more {
    border-style: solid;
	padding: 10px;
	overflow: auto;
	margin: 2px 0 2px 0;
}

.flex-container-row, .flex-container-col {
	display: flex;
	box-sizing: border-box;
	padding: 10px;
	margin: 0;
}

.flex-container-row {
	flex-direction: row;
	min-width: 100%;
}

.flex-container-col {
	flex-direction: column;
	min-height: 100%;
}

section.flex-less {
	width: min-width;
	max-width: 40vw;
	max-height: 100%;
}

section.flex-more {
	flex: 1;
}

div.flex-less {
	height: min-height;
	max-height: 30vh;
	max-width: 100%;
}

div.flex-more {
	flex: 1;
}


th, td {
    vertical-align: top;
}

table {
}

th.depthchart, td.depthchart {
	padding: 4px 6px 4px 6px;
}
	

tr.depthchart {
    border-bottom: 1px solid black;
}


.drafted {
    font-color: #f5f5f5;
}

.playerListEntry:hover {
    background-color: #e0e0e0;
    /* font-weight: bold; */
}

.available {

}

.unavailable {
    color: #c0c0c0;
}

.hiddenPlayer {
    visibility: hidden;
    display: none;
}

.selectedPlayer {
	font-weight: bold;
}

.activePosition {
    font-weight: bold;
}

.activeByeWeek {
    color: red;
}

.prospectiveteamplayer {
    color: orange;
}

.eventier {
    background-color: #f0f0f0
}

.inactive {
	opacity: 0.6;
}

i {
	font-style: normal;
	font-weight: bold;
}

header {
	font-size: small;
	border-bottom: 1px solid black;
	padding-bottom: 4px;
	margin-bottom: 8px;
}

#playerName {
	font-size: x-large;
	padding-right: 8px;
}

#playerPosition {
	padding-right: 4px;
}

.waits {
	display: none;
}

.tier-divider {
	color: white;
	background-color: black;
	text-align: center;
	position: sticky;
	top: 0;
}

.switch {
	display: none;
}

.icon::before {
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font: var(--fa-font-solid);
}

#hide_unavailable + .icon::before {
	content: "\f06e"; /* fa-eye */
}

#hide_unavailable:checked + .icon::before{
	content: "\f070"; /* fa-eye-slash */
}

#isAvailable + .icon::before {
	content: "\f506"; /* fa-user-slash */
}

#isAvailable:checked + .icon::before{
	content: "\f007"; /* fa-user */
}

#isOnMyTeam + .icon::before {
	content: "\e073"; /* fa-users-slash */
}

#isOnMyTeam:checked + .icon::before{
	content: "\f0c0"; /* fa-users */
}

.checkbox-container {
	display: inline-block;
	padding: 10px 40px 10px 40px;
	background-color: transparent;
	transition: background-color 0.3s;
	align-items: center;
	justify-content: center;
}

.checkbox-container:hover {
	background-color: #d0d0d0
}
