body {
}

div {
    border-style: solid;
    overflow: auto;
    max-height: 600px;
}

.header {
	float: top;
	width: 100%;
}

.left {
      float: left;
      width: 35%;
      height: 100%;
}

.right {
       float: right;
       width: 60%;
       height: 30%;
}

#s_players {

}

#s_depthchart {

}

#s_myteam {

}

.player {

}

.playerListEntry:hover { background-color: #f5f5f5; }
